/*------------------------allPages_style-------------------------*/
/* span.ex1 {
  min-width: 700px;
} */

body{
  background: url("../images/img_background.png");
  margin: 0px;
  font-family: sans-serif;
  min-width:600px;
}

header {
  height: 110px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  /* background-color: rgb(224, 224, 224); */
  /* border-bottom: 2px solid rgb(145, 144, 144); */
  /* color: white; */
  top: 0;
  position: relative;
}

.name_box{
  padding-top: 10px;
  font-size: 1.2em;
}

nav{
  margin: 0px 120px;
  padding-top: 60px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  color: white;
}

nav ul{
  float: right;
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li{
  margin:10px;
}

.nav_border{
  padding-left: 15px;
  border-left: solid 1px rgb(167, 167, 167);
}

nav a{
  text-decoration: none;
  color: white;
}

footer {
  height: 110px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  color: white;
  text-align: center;
  font: 9px sans-serif;
  padding-top: 2px;
  position: absolute;
}

/*--------------------------About_style---------------------------*/

#smaller.c_box_white{
  width: 750px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px 0px 50px 0px;
  display: flex;
  align-content: right;
}

#my_photo{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  margin-left: 40px;
  border: 1px solid #c0c0c0;
  float: left;
}

#my_photo1{
  float:left;
}

#text{
  width: 70%;
  float:right;
  top: 0px;
  text-align: justify;
  margin: 0px 50px 0px 50px;
}


/*------------------------portfolio_style-------------------------*/

.c_box_white{
  height: 870px;
  margin: 5% 2%;
  padding: 0px 4%;
}

.labled_box{
  display: inline-grid;
  margin: 30px 30px;
  transition-duration: 1.5s;
}

.labled_box:hover{
  transform: scale(1.08);
  transition-duration: 0.9s;
  transition-timing-function: ease-in ease-out 1s;
}

.labled_box > a{
  text-decoration: none;
}

.photo{
  width: auto;
  height: 220px;
  border-radius: 3%;
  display: -moz-inline-grid;
}

.label{ 
  height: 31px;
  margin: 0px 0px 0px 0px;
  background-color: rgba(20,20,20,0.7);
  /* background-color: rgba(60,141,152,0.7); */
  color: white;
  font-size:18px;
  text-align:center;
  bottom: 20px;
  left: 0;
  padding-top: 9px;
  margin-top: -45px;
  position: relative;
  text-shadow: -2px 2px 3px rgb(19, 19, 19);
}


