/*------------------------allPages_style-------------------------*/

body{
  background: url("../images/img_background.png");
  margin: 0px;
  font-family: sans-serif;
}

header {
  height: 110px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  /* background-color: rgb(224, 224, 224); */
  /* border-bottom: 2px solid rgb(145, 144, 144); */
  /* color: white; */
  top: 0;
  position: relative;
}

.name_box{
  width: 160px;
  height: 35px;
  margin-left: 165px;
  padding-top: 15px;
  /* background-color: #41929e; */
  font-size: 1.2em;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
}

nav{
  float: right;
  margin-right: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
}

nav ul{
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li{
  margin:10px;
}

.nav_border{
  padding-left: 15px;
  border-left: solid 1px rgb(167, 167, 167);
}

nav ul li a{
  text-decoration: none;
  color: white;
  /* color: rgb(102, 102, 102); */
}

footer {
  height: 110px;
  width: 100%;
  background-color: rgb(19, 19, 19);
  /* background-color: rgb(145, 144, 144); */
  /* border-top: 5px solid #41929e; */
  color: white;
  text-align: center;
  font: 9px sans-serif;
  padding-top: 2px;
  position: absolute;
}

/*--------------------------About_style---------------------------*/

#smaller.c_box_white{
  width: 750px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 50px 0px 50px 0px;
  /* padding: 100px 0px 0px 0px; */
  top: 65; 
  display: flex;
  align-content: right;
}

#my_photo{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  margin-left: 40px;
  border: 1px solid #c0c0c0;
  float: left;
}

#my_photo1{
  float:left;
}

#text{
  float:right;
  top: 0px;
  text-align: justify;
  margin: 0px 50px 0px 50px;
}


/*------------------------portfolio_style-------------------------*/

.c_box_white{
  width: 750px;
  height: 870px;
  margin-left: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 0px;
  position: relative;
  padding-top: 110px;
  top: 65; 
  display: inline-block;
}

h_c{
  width: 716px;
  height: 22px;
  margin: 15px 15px 15px 15px;
  padding: 20px 0px 18px 4px;
  background-color: #ffffff;
  border-bottom: solid 1px #c0c0c0;
  color: #41929e;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}

.labled_box{
  position: absolute;
}

.photo{
  width: 350px;
  height: 219px;
  border-radius: 3%;
  display: block;
  position:relative
}

.label{ 
  width: 280px;
  height: 31px;
  margin: 0px 0px 0px 0px;
  background-color: #367e88b0;
  position: absolute;
  font-family: 'Srisakdi', cursive;
  color: white;
  font-weight: bold;
  font-size:16px;
  text-align:center;
  bottom: 20px;
  left: 0;
  padding-top: 9px;
}

#labled_box1{
  top: 110px;
  left: 50px;
}

#labled_box2{
  top: 110px;
  right: 50px;
}

#labled_box3{
  bottom: 110px;
  left: 50px;
}

#labled_box4{
  bottom: 110px;
  right: 50px;
}


